[submodule "articulated"]
	path = articulated
	url = https://github.com/snap-research/articulated-animation/
[submodule "fsgan"]
	path = fsgan
	url = https://github.com/YuvalNirkin/fsgan
	branch = v1
