face_alignment
imageio>=2.3.0
matplotlib>=2.2.2
msgpack-numpy>=0.4.7.1
numpy>=1.15.0
opencv-python>=4.2.0.34
pandas>=0.23.4
Pillow>=5.2.0
pyfakewebcam>=0.1.0
pyyaml>=5.3.1
pyzmq>=20.0.0
requests>=2.25.1
scikit-image>=0.14.0
scikit-learn>=0.19.2
scipy>=1.1.0
torch>=1.4.0
torchvision>=0.2.1
tqdm>=4.24.0
